<section class="container d-flex justify-content-center">
  <form
    class="row col-10 col-sm-8 col-6 col-lg-4 mt-3"
    (ngSubmit)="onStartTraining(f)"
    #f="ngForm"
  >
    <mat-card class="pt-5 pb-5 text-center">
      <mat-card-title> Time to start a workout! </mat-card-title>
      <mat-card-content class="mt-3 mb-0">
        <mat-form-field class="mt-3" appearance="fill">
          <mat-label>Training</mat-label>
          <mat-select ngModel name="exercise" required>
            <mat-option
              *ngFor="let exercise of exercises"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="col-4"
          type="submit"
          mat-button
          color="primary"
          [disabled]="f.invalid"
        >
          Start
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
