<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onToggle()" *ngIf="!isAuth">
    <mat-icon>face</mat-icon>
    <span class="d-inline-block ps-2">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onToggle()" *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="d-inline-block ps-2">Login</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onToggle()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="d-inline-block ps-2">Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onToggle(); onLogout()" *ngIf="isAuth">
      <mat-icon>logout</mat-icon>
      <span class="d-inline-block ps-2">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
