<mat-toolbar color="primary">
  <div class="d-sm-block d-md-none">
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a class="text-decoration-none text-white" routerLink="/">NG Fitness</a>
  </div>
  <div class="container d-flex justify-content-end">
    <ul class="list-inline d-none d-md-block">
      <li class="list-inline-item" *ngIf="!isAuth">
        <a class="text-decoration-none text-white" routerLink="/signup"
          >Signup</a
        >
      </li>
      <li class="list-inline-item" *ngIf="!isAuth">
        <a class="text-decoration-none text-white" routerLink="/login">Login</a>
      </li>
      <li class="list-inline-item" *ngIf="isAuth">
        <a class="text-decoration-none text-white" routerLink="/training"
          >Training</a
        >
      </li>
      <li class="list-inline-item" *ngIf="isAuth">
        <a class="text-decoration-none text-white" (click)="onLogout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</mat-toolbar>
